<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Make Motivation</title>
</head>
<body>
    <section class="heading-section">
        <h1>Make Motivation</h1>
        <form action="/motivate" method="POST">
            <div class="search-bar">
                <input type="text" placeholder="Enter quote here" name="quoteBox" required 
                oninvalid="this.setCustomValidity('Please Enter a Quote First')"
                oninput="this.setCustomValidity('')"/>
                <button class="submit-btn" type="submit"><i class="fa fa-paper-plane"></i></button>
            </div>
        </form>
    </section>
    <section class="quote-section">
        <h2>Words of Motivation</h2>
        <ul class="quote-list">
            <% for(let i= 0; i<quotes.length; i++) {%>
                <li class="quote">
                    <q class="quote-item" id="quote-<%=i%>"><%= quotes[i].quoteBox %></q>
                    <div class="quote-buttons">
                        <button id="random-quote-update<%=i%>" class="update-quote btn">Update with Random Quote</button>
                        <button id="deleteBtn-<%=i%>"class="delete-quote btn">Delete</button>
                    </div>
                </li>
            <%} %>
        </ul>
    </section>
    <footer>
        <div class="footer-name">
            <span>Made by: Mark Linn</span>
        </div>
        <div class="link-tags">
            <a href="https://github.com/marksist300" target="_blank"><i class="fa-brands fa-github fa-decoration"></i></a>
            <a href="https://twitter.com/marksist_300" target="_blank"><i class="fa-brands fa-twitter fa-decoration"></i></a>
            <a href="mailto:marklinndev@gmail.com" target="_blank"><i class="fa-solid fa-envelope fa-decoration"></i></a>
        </div>
    </footer>
    <script type="module" rel="text/javascript" src= "main.js"></script>
</body>
</html>