html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
*{
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	min-height: 100vh;
	height: 100%;
	width: 100vw;
	background-color: #2386d8;
	background-image: linear-gradient(180deg, #2386d8 15%, #2777c7 42%, #2c2de6 76%);
	background-repeat: no-repeat;
}
body {
	line-height: 1;
	padding: 2rem 2rem;
	margin: auto;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}
ol, ul {
	list-style: none;
}

.heading-section{
	margin: auto;
	padding: 1rem;
	max-width: 700px;
	box-shadow: 2px 3px 5px;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

h1{
	text-align: center;
    font-size: 2.5rem;
	font-family: "Poppins";
}

.search-bar{
	position: relative;
	width: 100%;
}

.search-bar >input{
	position: relative;
	padding: .2rem 1.5rem .2rem .2rem;
	border-radius: 5px;
	border: none;
}

.search-bar >input:focus{
	outline: none;
}

.submit-btn{
	position: absolute;
	background: transparent;
	font-size: .8rem;
	border: none;
	color: rgb(106, 111, 117);
	right: -2px;
	bottom: 4px;
}
.submit-btn:hover{
	color: #2777c7;
}

@media not all and (max-height: 899px) and (min-resolution:.1dpi) {
	.submit-btn{
		right: -2px;
		bottom: 5px;
	}
}


.quote-section{
	margin: 2rem auto;
}

h2{
	font-size: 1.5rem;
	text-align: center;
}

.quote-list{
	margin: 1rem auto;
}

.quote{
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	text-align: center;
	background-color: rgb(231, 238, 245);
	padding: 1rem 2rem;
	border: 1px solid navy;
	border-radius: 1rem;
	max-width: 700px;
	line-height: 1.25rem;
	font-size: 1.2rem;
	position: relative;
}

.angle-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid rgb(231, 238, 245);
  border-right: 12px solid transparent;
  border-top: 12px solid rgb(231, 238, 245);
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
  z-index: 1;
}

.quote-buttons{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
	color: navy;
}

@media screen and (max-width: 300px){
	.quote-buttons{
		flex-direction: column;
		gap: .1rem;
	}
}

.btn{
	padding: .5rem .3rem;
	border-radius: .3rem;
	border: none;
	font-weight: 500;
	background-color: rgba(193, 211, 230, 0.98);
	color: navy;
} 
.btn:hover{
	background-color: rgba(231, 238, 245, 0.96);
	box-shadow: 1px 2px 4px rgb(132, 137, 143);
	transition: 300ms;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 5px;
	margin-bottom: 0;
	padding: 1rem 1rem 0 1rem;
	color: rgb(8, 11, 117);
}

.link-tags{
	padding-right: 1rem;
	gap: .5rem;
	font-size: 2rem;
}

.fa-decoration{
	color: rgb(8, 11, 117);
}